@mixin no-select {
    // https://stackoverflow.com/questions/826782
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

@mixin no-drag {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

@mixin font-face($name, $path, $weight: null) {
    // https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
    @font-face {
        font-family: quote($name);
        src: url(quote($path)) format('truetype');
        font-weight: $weight;
        font-style: normal;
    }
}
