@use 'global';

@include global.font-face("Averia", "/font/AveriaSerifLibre-Regular.ttf");

$breakpoint-mobile: 768px;

html, body, div, h1, h2, p {
    padding: 0;
    margin: 0;
}

#body {
    margin: 2rem auto;
    max-width: 50rem;
    font-family: "Averia", Arial, sans-serif;

    h1 {
        padding-bottom: 1rem;
    }

    .section {
        padding: 2rem 0;

        display: flex;
        gap: 1rem;

        iframe {
            grid-area: video;
            max-width: 30.5rem;
            max-height: 17.25rem;
        }

        .meta {
            line-height: 1.5;
        }
    }
}
