:root {
  --dark-black: #1c1c1c;
  --light-black: #2d2d2d;
  --gray: #c0c0c0;

  --ship-x: calc(50% - 10rem);
  --ship-y: 15rem;

  --breakpoint-mobile: 768px;
}

html,
body,
div,
h1,
p {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--dark-black);
  height: 100%;
  max-height: 100%;
}

#app .belt {
  min-height: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;

    background-color: var(--dark-black);
    color: white;
    font-family: 'Perfect DOS VGA 437', Arial, sans-serif;

    h1 {
      /** MOBILE **/
      padding: 2rem 0 1rem 0;

      /** DESKTOP **/
      @media (min-width: var(--breakpoint-mobile)) {
        padding-top: 4rem;
      }

      font-size: 4rem;
      text-align: center;

      user-select: none;
      cursor: default;
    }

    .content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
    }

    #landing {
      .scene {
        position: relative;
        width: 100%;
        min-height: 25rem;
        user-select: none;

        .ship {
          position: absolute;
          left: var(--ship-x);
          top: var(--ship-y);

          width: 3rem;

          display: flex;
          flex-direction: column;
          align-items: center;
          transform: rotate(45deg);

          .shuttle {
            width: 100%;
          }

          .exhaust {
            width: 40%;
          }
        }

        .bullet {
          position: absolute;
          left: calc(var(--ship-x) + 3.8rem);
          top: calc(var(--ship-y) + 0.8rem);

          width: 8px;
          height: 2px;
          background: white;
          transform: rotate(-45deg);

          animation: bullet 0.7s linear 0s infinite forwards;
        }
      }

      .download {
        width: 10rem;
        margin: 2rem 0 0 0;

        img {
          width: 10rem;
        }
      }
    }

    #whats-new {
      flex-shrink: 1;
      overflow-y: hidden;

      #versions-container {
        overflow-y: scroll;
        margin: 0 2rem;
        max-width: 30rem;
        align-self: center;

        border-radius: 2rem;
        border: 4px solid white;
        padding: 1rem 0;

        /* Hide scrollbar */

        &::-webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        .version {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h2 {
            font-size: 2rem;
            text-align: center;

            align-self: center;
          }

          ul {
            font-size: 1.25rem;
            max-width: 28rem;

            list-style-position: outside;
            margin: -0.5rem 2rem 1rem 4rem;
            padding: 0;

            li {
              padding: 0.5rem 0;
            }
          }
        }
      }

      a {
        text-decoration: none;
      }
    }

    #footer {
      /** DESKTOP **/
      @media (min-width: var(--breakpoint-mobile)) {
        margin-top: 1rem;
      }

      padding: 0.5rem;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a,
      div {
        margin: 8px 16px 0 0;
        font-size: 1rem;
      }
    }

    p {
      margin: 1rem 2rem;
      font-size: 1.25rem;
      max-width: 30rem;
    }

    a {
      /** MOBILE **/
      margin: 1.5rem 0 1rem 0;

      /** DESKTOP **/
      @media (min-width: var(--breakpoint-mobile)) {
        margin: 2rem 0;
      }

      font-size: 2rem;
      color: white;

      cursor: pointer;

      &:hover {
        color: var(--gray);
      }
    }
  }

@keyframes bullet {
  0% {
  }

  80% {
    opacity: 100%;
  }

  100% {
    transform: translate3D(400px, -400px, 0) rotate(-45deg);
    opacity: 0;
  }
}
